<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - iCommunity</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css?h=10912df2c1f72a56dab1b896789d024a">
</head>

<body><!-- Start: Navbar Centered Links -->
    <nav class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav">
        <div class="container"><a class="navbar-brand d-flex align-items-center"
                href="/"><span>iCommunity</span></a><button data-bs-toggle="collapse" class="navbar-toggler"
                data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link active" routerLink="/index">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" routerLink="/index">NewTopic</a></li>
                    <li class="nav-item"><a class="nav-link active" routerLink="/home">MyTopics</a></li>
                </ul><a class="btn btn-primary shadow" role="button" routerLink="/home">Logout</a>
            </div>
        </div>
    </nav><!-- End: Navbar Centered Links -->
    <header class="pt-5"><!-- Start: Hero Clean Reverse -->
        <form>
            <div class="container pt-4 pt-xl-5">
                <div class="row pt-5">
                    <div class="col-md-8 text-center text-md-start mx-auto">
                        <div class="text-center">
                            <h1 class="fw-bold mb-2">Find Solutions. Ask Questions. Share Ideas</h1>
                            <h4 class="fw-bold mb-5">Connect with users across the world</h4>
                            <input name="text" [(ngModel)]="searchText" class="form-control-lg" type="search" data-bs-toggle="tooltip" data-bss-tooltip=""
                                style="border-style: solid;width: 50%;" placeholder="Enter your search text"
                                title="Enter your search text"><button class="btn-sm ml-1" type="submit"
                                (click)="getTopics()" style="background-color: #333; color: #fff;">Search</button>
                        </div>
                    </div>
                    <div class="col-12 col-lg-10 mx-auto">
                        <div class="text-center position-relative"></div>
                    </div>
                </div>
            </div><!-- End: Hero Clean Reverse -->
        </form>
    </header><!-- Start: 1 Row 3 Columns -->

    <div class="dropdown-container">
        <div class="row btn-group">
            <div class="col-md-4">
                <div class="dropdown" style="position: relative;display: block;overflow: visible;"><button
                        class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown"
                        type="button">Date&nbsp;</button>
                    <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item"
                            href="#">Second Item</a><a class="dropdown-item" href="#">Third
                            Item</a></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="dropdown" style="position: relative;display: block;overflow: visible;"><button
                        class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown"
                        type="button">Author&nbsp;</button>
                    <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item"
                            href="#">Second Item</a><a class="dropdown-item" href="#">Third
                            Item</a></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="dropdown" style="position: relative;display: block;overflow: visible;"><button
                        class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown"
                        type="button">Product&nbsp;</button>
                    <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item"
                            href="#">Second Item</a><a class="dropdown-item" href="#">Third
                            Item</a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="dropdown2-container">
        <div *ngFor="let topic of userTopics" class="col flex-fill p-4">

            <!---------------------------------------------------------------------->
            <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start mb-5">
                <div style="display:inline"
                    class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-3 bs-icon">
                    <svg class="bi bi-person" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                        fill="currentColor" viewBox="0 0 16 16">
                        <path
                            d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z">
                        </path>
                    </svg>
                </div>
                <h6 class="fw-bold ml-5 pt-3" style="position:absolute; display:inline-block">{{ topic.username }}     | {{ topic.product }} |     {{ topic.date }}</h6>
                <div>
                    <h4 class="fw-bold">{{ topic.title }}</h4>
                    <p class="fs-5">{{ topic.description }}</p><a href="#">View comments <svg class="bi bi-arrow-right"
                            xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                            viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z">
                            </path>
                        </svg></a>
                </div>
            </div>
            <!---------------------------------------------------------------------->

        </div>

        <div *ngIf="!rowReturned">
            <h4>{{message}}</h4>
          </div>
    </div>

    <!-- End: 1 Row 3 Columns -->

</body>

</html>