<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Home - iCommunity</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css?h=10912df2c1f72a56dab1b896789d024a">
</head>

<body>
  <nav class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav">
    <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span>iCommunity</span></a><button
        data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle
          navigation</span><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item"><a class="nav-link active" routerLink="/home">Home</a></li>
        </ul><a class="btn btn-primary shadow" role="button" routerLink="/register">Register</a>
      </div>
    </div>
  </nav><!-- End: Navbar Centered Links -->
  <header class="pt-5"><!-- Start: Hero Clean Reverse -->
    <form>
      <div class="container pt-4 pt-xl-5">
        <div class="row pt-5">
          <div class="col-md-8 text-center text-md-start mx-auto">
            <div class="text-center">
              <h1 class="fw-bold mb-2">Find Solutions. Ask Questions. Share Ideas</h1>
              <h4 class="fw-bold mb-5">Connect with users across the world</h4>
              <a class="btn-lg ml-3" routerLink="/login" style="background-color: #333; color: #fff;">Login</a>
              <a class="btn-lg ml-3" routerLink="/register" style="background-color: #333; color: #fff;">Register</a>
            </div>
          </div>
          <div class="col-12 col-lg-10 mx-auto">
            <div class="text-center position-relative"></div>
          </div>
        </div>
      </div><!-- End: Hero Clean Reverse -->
    </form>
  </header><!-- Start: 1 Row 3 Columns -->

  <div class="dropdown-container3" style="position: relative; left:13%; top:90px" >
  <div class="home-stats">
    <div class="home-stat">
      <svg viewBox="0 0 1152 1024" class="home-icon">
        <path
          d="M768 770.612v-52.78c70.498-39.728 128-138.772 128-237.832 0-159.058 0-288-192-288s-192 128.942-192 288c0 99.060 57.502 198.104 128 237.832v52.78c-217.102 17.748-384 124.42-384 253.388h896c0-128.968-166.898-235.64-384-253.388z">
        </path>
        <path
          d="M327.196 795.328c55.31-36.15 124.080-63.636 199.788-80.414-15.054-17.784-28.708-37.622-40.492-59.020-30.414-55.234-46.492-116.058-46.492-175.894 0-86.042 0-167.31 30.6-233.762 29.706-64.504 83.128-104.496 159.222-119.488-16.914-76.48-61.94-126.75-181.822-126.75-192 0-192 128.942-192 288 0 99.060 57.502 198.104 128 237.832v52.78c-217.102 17.748-384 124.42-384 253.388h279.006c14.518-12.91 30.596-25.172 48.19-36.672z">
        </path>
      </svg>
      <span class="home-text04">Users</span>
      <h1 class="home-text05"><span>5</span></h1>
    </div>
    <div class="home-stat1">
      <svg viewBox="0 0 1024 1024" class="home-icon3">
        <path
          d="M642 438q40-40 40-96 0-70-50-121t-120-51-120 51-50 121h84q0-34 26-60t60-26 60 26 26 60-26 60l-52 54q-50 54-50 120v22h84q0-68 50-122zM554 768v-86h-84v86h84zM810 86q34 0 60 25t26 59v598q0 34-26 60t-60 26h-170l-128 128-128-128h-170q-36 0-61-25t-25-61v-598q0-36 25-60t61-24h596z">
        </path>
      </svg>
      <span class="home-text07">Questions</span>
      <h1 class="home-text08"><span>4</span></h1>
    </div>
    <div class="home-stat2">
      <svg viewBox="0 0 1024 1024" class="home-icon5">
        <path
          d="M726 512q0 18-13 30t-31 12h-426l-170 172v-598q0-18 12-30t30-12h554q18 0 31 12t13 30v384zM896 256q18 0 30 12t12 30v640l-170-170h-470q-18 0-30-12t-12-30v-86h554v-384h86z">
        </path>
      </svg>
      <span class="home-text10">Answers</span>
      <h1 class="home-text11"><span>8</span></h1>
    </div>
  </div>
  </div>
</body>